</style>
<div class="container-fluid1 container-fluid">
  <div class="row">
      <h1>Contact</h1>
      <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ea tempore, laboriosam distinctio voluptate culpa.
          <br>
          Itaque dignissimos quidem delectus. Quas voluptates minus perferendis consectetur voluptatibus sequi facere error quaerat nobis!
      </p>
  </div>
  <div class="container-1 container">
    <div class="row mb-3">
      <div class="col-sm-4">
          <label for="exampleFormControlInput1" class="form-label text-left">Email address</label>
      </div>
      <div class="col-sm-8">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
  </div>
  <div class="row mb-3">
      <div class="col-sm-4">
          <label for="exampleFormControlTextarea1" class="form-label text-left">Example textarea</label>
      </div>
      <div class="col-sm-8">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
      </div>
      <div class="col-12  mt-3">
          <button type="button" class="btn btn-primary float-end">Submit</button>
      </div>
  </div>
</div>