<!-- your html code here -->
<div class="d-flex bg-white">
<div class="p-3">
    <h3>
        The First heading
        <small class="text-body-secondary text-secondary">Will catch your eye</small>
    </h3>
<p>This is a picture of Heissenberg Breaking Bad's main character who becames from a profesor to a drug producer and dealer.
The story of Breaking Bad catch many people for years becoming a classic.</p> 
</div>
<div>
    <img src="./assets/img/1.jpg" class="rounded-circle w-50 p-3">
</div>
</div>
