<!-- your html code here -->
<div class="Secondheading">
    <img class="ImgService" src="/website\assets\img\2.jpg" alt="none">
    <div class="Text">
        <p>The second heading<span class="gris"> its pretty cool too.</span></p>
        <div class="Parrafo">So perhaps, you've generated some fancy text, and you're content that you can now copy and paste your fancy text in the comments section of funny cat videos, but perhaps you're wondering how it's even possible to change the font of your text? Is it some sort of hack? Are you copying and pasting an actual font?</div>
        

    </div>
 

</div>